<div id"ViewLike">
    @if (!ViewBag.Votes)
    {
        <a class="like" id="like">@ViewBag.Like</a>
    }
    else
    {
        <a id="like"><img src=" ~/Content/images/like.PNG" />@ViewBag.Like</a>
    }
</div>

